@import url(../global.css);

.content{
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    padding: 2rem 0;
}
.head{
    display: flex;
    width: 100%;
    justify-content: center;

}
.head img{
    width: 165px;
    height: 35px;
}
form{
    background: var(--secondary3);
    box-shadow: 0;
    border: 1px solid var(--border);
    border-radius: 50px; 
    padding: 1.3rem;
    margin: 5rem 0;
}
.form{
    background-color: var(--bg);
    padding: 2.5rem;
    border-radius: 30px; 
}
.desc{
    display: block;
    margin-bottom: 2rem;
}
.desc h2{
    font-weight: 600;
    letter-spacing: -1px;
    color: var(--text);

}
.desc p{
    color: var(--text);
    opacity: 0.7;
    font-size: .9rem;
}
.goupe{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1.5rem;
}
.goupe label{
       color: var(--text);
       font-size: .9rem;
}
.goupe input {
    border: 1px solid var(--border);
    border-radius: 10px;
    outline: none;
    padding: .9rem;
}
.goupe .otp-container{
    display: flex;
    gap: .5rem;
}
.otp-container input{
    width: 40px;
    height: 40px;
    margin-right: .5rem;
    text-align: center;
    border: 1px solid var(--border);
    outline: none;
    border-radius: 8px;
    font-weight: 900;
    font-size: 2.3rem;
      padding: 0;
    color: var(--primary);



}
.otp-container input:focus{
    border: 2px solid var(--text);
    
}
.forgot{
    display: flex;
    justify-content: space-between;
}
.forgot a{
     color: var(--primary);
       font-size: .9rem;
}
.forgot a:hover{
    text-decoration:underline;
}
.check{
    display: flex;
    gap: 1rem;
}
.check label{
    color: var(--text);
       font-size: .9rem;
}
button{
    background: var(--primary);
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 1.2rem 16rem;
    margin: 1.5rem 0;
}
.redirect{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}
.redirect p{
     color: var(--text);
       font-size: .9rem;
       opacity: 0.7;
}
.redirect a{
     color: var(--primary);
       font-size: .9rem;
       font-weight: 600;
}
.flot{
    display: block;
    flex-direction: column;
    background: var(--bg);
    border: 1px solid var(--border);
    box-shadow: 0 0 10px var(--shadow);
    position:fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    border-radius: 20px;
    animation: slideDown .3s linear;
}
.close{
    display: none;
}
.flot h3{
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -1px;
    opacity: 0.9;
    margin: 0.5rem 0;
}
.flot p{
    color: var(--text);
       font-size: .9rem;
       opacity: 0.7;
       margin-bottom: 1rem;
}
.btn-fl{
    display: flex;
    justify-content: right;
    gap: .5rem;
    animation: slideDown .3s linear;

}

.btn-fl a{
    border: 1px solid var(--border);
    display: flex;
     font-size: .9rem;
    padding: .7rem ;
    margin-bottom:2rem ;
    border-radius: 10px;
    opacity: 0.7;
    color: var(--text);

}
.btn-fl a:nth-child(2){
    background: var(--primary);
    color: var(--bg);
}